{%extends 'base.html'%} {%block title%}Board{%endblock%} {%block content%}

<section id="boggle_1">

  <form id="inputForm" autocomplete="off">
    <div>
      <p id="timer">
        <div id="timer"></div>
      </p>
    </div>
    <div>
      <label for="word"></label>
      <input type="text" name="word" id="input" placeholder="WORD" />
      <button id="submitBtn" type="submit">Submit</button>
    </div>
  </form>

  
<div id="gameContainer">
  <div id="infoBoard">
    <p id="highscore">
      HIGHSCORE: {{highscore}}
    </p>
      <p id="score">
        SCORE:
        <div id="counterValue"></div>
      </p> 
      
      <div id="message"></div>
      <p>
        WORDS
        <ul id="wordList"></ul>
      </p>
    
    
    <button id="resetBtn" type="reset">NEW GAME</button>
  </div>


  <div id="boggleBoard">
    {% for list_row in boggle_board %} {% for char in list_row %}
    <div class="char">{{ char }}</div>
    {% endfor %} {% endfor %}
  </div>
</div>


</section>

{%endblock%}
